<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des projets</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="liste-projet.component.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom" style="background-color: #0C3B2E;">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/Rectangle 3.png" alt="Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-3 col-md-12 mb-4">
                <div class="profile-card text-center p-3" id="profile-card">
                    <img src="https://img.freepik.com/photos-gratuite/femme-musulmane-faible-angle-posant-exterieur_23-2150506623.jpg?uid=R154313631&ga=GA1.1.309790809.1709729690&semt=ais_hybrid" alt="Profile Image" class="img-fluid rounded-circle mb-2">
                    <h5>Fatou Bintou Diop</h5>
                    <p>Adjointe au maire</p>
                    <p>Commune de Dakar</p>
                    <p>Se déconnecter</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12"  >
                <div class="project-card mb-4 p-3" *ngFor="let projet of tabprojet">
                    <div class="d-flex align-items-center">
                        <img src="../../assets/images/woman.jpg" alt="Profile Image" class="img-fluid " >
                        <div class="ml-3">
                            <h5>Sofia Gueye</h5>
                            <p>{{ projet.created_at | date: 'short' }}</p>
                        </div>
                    </div>
                    <h4>{{ projet.titre }}</h4>
                    <p class="description">
                        {{ projet.description }}
                    </p>
                    <img src="{{ projet.image}}" alt="Project Image" class="project-image img-fluid mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div >
                            <div *ngFor="let commentaire of tabcommenatire">
                                <i class="fas fa-comment"></i> <p>{{ commentaire.contenu }}</p>
                              </div>
                            <!-- <i class="fas fa-comment"></i> 10 -->
                            <i class="fas fa-thumbs-up ml-3"></i> 25
                        </div>
                    </div>
                    <div class="d-flex">
                   
                        <input type="text" class="form-control mr-2" placeholder="Commenter" [(ngModel)]="commentaire.contenu">
                        <input type="text" class="form-control mr-2" placeholder="Commenter" [(ngModel)]="commentaire.projet_id">
                        <button class="btn btn-outline-primary" (click)="ajoutCommentaire()">Envoyer</button>
                        
                    </div>
                </div>

                 </div>

            <div class="col-lg-3 col-md-12">
                <div class="suggestions-card p-3">
                    <h5>Suggestions pour vous</h5>
                    <p>1. Projet de jardin communautaire</p>
                    <p>2. Rénovation des trottoirs</p>
                    <p>3. Événement de collecte de fonds</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>




<!-- <div *ngIf="tabprojet.length > 0">
    <ul>
      <li *ngFor="let projet of tabprojet">
        {{ projet.titre }} - Statut: {{ projet.description }}
      </li>
    </ul>
  </div>
  <div *ngIf="tabprojet.length === 0">
    <p>Aucun projet trouvé.</p>
  </div> -->