<div class="dashboard-banner">
  <div class="banner-content">
    <div class="conttenu-sec">
      <div class="left-section">
        <div class="sec-1">
          <h1>Commune de Parcelles assainies</h1>
          <div class="time"><h2>09:30</h2></div>

        </div>
        <div class="sec-2">
          <p>Bonjour <strong>Abdallah Dramé</strong> <span>Bienvenue à bord</span></p>

        </div>
      </div>
      <div class="right-section">
         <div class="sec-3">
          <button class="create-project-btn">+ Créer un projet</button>
          <p class="validated-projects">18 projets validés</p>
         </div>
      </div>
    </div>
  </div>
</div>
