body{
    background-color: #D8D8D8;
  }
  .statistique{
    width: 371px;
    height: 133px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    margin-left: 90px;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .icone{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: -30px;
    padding: 5px;
    background-color: #3C95EE;
  }
  hr{
    width: 330px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .hr_nom p{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }
  .ville{
    width: 1163px;
    height: 572px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
  }
  .icone_card{
    width: 100%;
    height: 287px;
    flex-shrink: 0;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: -30px;
    background-color: #3C95EE;
  }

.statistique_card{
    width: 371px;
    height: 411px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn_detail_commune{
    display: flex;
width: 131px;
height: 41px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 5px;
border-color: #FEB906;
color: #FEB906;
}
.head_table{
    width: 100%;
    height: 67px;
    flex-shrink: 0;
    border-radius:15px;
    background: #4a7c59;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.table{
    background-color: #FFF;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

    .table-responsive {
        overflow-x: auto;
    }


    .toggle-switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        .toggle-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #FFF;
            color: black;
        }
        .toggle-switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        .toggle-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }
        input:checked + .slider {
            background: linear-gradient(to bottom, #4a7c59, #a1c4a8);      
          }
        input:checked + .slider:before {
            transform: translateX(26px);
        }
        .btn_detail_commune{
                display: flex;
            width: 131px;
            height: 41px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 5px;
            border-color: #FEB906;
            color: #FEB906;
            }

            .action-cell {
            display: flex;
            align-items: center;
            gap: 20px; /* Espace entre le bouton et l'interrupteur */
            }
            .table-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    width: 100%; /* Assure que le conteneur occupe toute la largeur disponible */
}





.card-header{
    background-color: #6D9773;
}
.input{
    width: 31.25rem;
    margin-left: 18.75rem;
}
.add-role{
    width: 8.476rem;
    height: 2.375rem;
    flex-shrink: 0;
    border-radius: 0.313rem;
    background: #FFF;
    color: #6D9773;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-left: 6.25rem;
}
.pages{
  background-color: #D8D8D8;
}
.btn-delete{
  margin-left: 40px;
  width: 131px;
  background-color: #FFF;
}
.btn-delete:hover{
  margin-left: 40px;
  width: 131px;
  background-color: red;
  color: white;
}
.btn-edit{
  width: 131px;
}