<div class="contenaire">
  <div class="side-bar-content">
<app-side-bar></app-side-bar>
  </div>
  <div class="contenu-content">
    <div class="donnee-content">
 <div class="top-bar">

            <div class="top-bar-right">
           <app-bar-de-recherhe></app-bar-de-recherhe>
<img src="../../../../assets/images/icons/Icon-profil.svg" alt="">
<img src="../../../../assets/images/icons/Icon-notification.svg" alt="">
            </div>

        </div>
      <div class="content">
        <!-- Top bar -->


        <div *ngFor="let projet of tabprojet" class="project-card">
          <img src="{{projet.image}}" class="project-image">
          <div class="project-info">
            <h2>{{ projet.titre }}</h2>
            <p>{{ projet.description }}</p>
            <div class="stats">
              <h3>Vote <span>3500</span></h3>
              <h3>Commentaires <span>3500</span></h3>
            </div>
          </div>
          <div class="project-status">
            <button>Publié le <span>{{ projet.created_at | date: 'short' }}</span></button>
          </div>
        </div>

    </div>
      </div>
    </div>
    </div>

