<div class="contenaire">
  <div class="side-bar-content">
<app-side-bar></app-side-bar>
  </div>
  <div class="contenu-content">
    <div class="donnee-content">
<app-banniere></app-banniere>

      <div class="categories">
        <span><img src="../../../../assets/images/icons/sports_and_outdoors.svg" alt=""> Sport</span>
        <span><img src="../../../../assets/images/icons/school.svg" alt=""> Education</span>
        <span><img src="../../../../assets/images/icons/cardiology.svg" alt=""> Santé</span>
        <span><img src="../../../../assets/images/icons/agriculture.svg" alt=""> Agriculture</span>
        <span class="assainissement"> <img src="../../../../assets/images/icons/clean_hands.svg" alt="">assainissement</span>
        <span> <img src="../../../../assets/images/icons/mosque.svg" alt="">Religion</span>
      </div>
      <h2>Derniers projets</h2>
      <div class="section-projets">
<app-derniers-projets></app-derniers-projets>
      </div>
    </div>
    <div class="statistique-content">
<app-statistique></app-statistique>
      <div class="notification-section">
        <app-notification></app-notification>

      </div>
    </div>
  </div>
</div>
