<div class="sidebar">
  <div class="logo">
    <img src="assets/images/logo-side-bare.png" alt="Logo">
  </div>
  <nav class="menu">
      <!-- Lien vers le Dashboard -->
      <a href="dashboard-habitant" class="menu-item active">
          <img src="../../../../assets/images/icons/dashboard.svg" alt="">
          Dashboard
      </a>

      <!-- Lien vers la liste des projets (Projets mairie) -->
      <a href="liste-projet-habitant" class="menu-item">
        <img src="../../../../assets/images/tactic.png" alt="">
        Projets
      </a>

      <!-- Lien vers la liste des habitants -->
      <a href="projet-publier"class="menu-item">
        <img src="../../../../assets/images/icons/group.svg" alt="">
        Projets soumis
      </a>

      <!-- Lien vide pour Nouveau projet -->
      <a href="ajouter-projet" class="menu-item">
        <img src="../../../../assets/images/icons/add_chart.svg" alt="">
        Nouveau projet
      </a>
      <!-- Lien vers les projets soumis -->


      <!-- Lien vide pour Déconnexion -->
      <a href="#" class="menu-item">
        <img src="../../../../assets/images/icons/logout.svg" alt="">
        Déconnexion
      </a>
  </nav>
</div>
