<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="detail-projet.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
  
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">
        <img src="../../../assets/img/SAMAGOKH__4_-removebg-preview.png" alt="Logo">
      </div>
      <nav class="menu">
        <a href="dashboard-habitant" class="menu-item active">
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
        </a>
        <a href="liste-projet-habitant" class="menu-item">
          <i class="fas fa-project-diagram"></i>
          Projets
        </a>
        <a href="projet-publier" class="menu-item">
          <i class="fas fa-folder-open"></i>
          Projets soumis
        </a>
        <a href="ajouter-projet" class="menu-item">
          <i class="fas fa-plus-circle"></i>
          Nouveau projet
        </a>
        <a href="#" class="menu-item" (click)="logout(); $event.preventDefault();">
          <i class="fas fa-sign-out-alt"></i>
          Déconnexion
        </a>
      </nav>
    </aside>

    <div class="project-detail">
      <img [src]="projet?.image" alt="{{ projet?.titre }}" class="project-detail-image">
      <p class="categorie">{{ projet?.categorie }}</p>
      <h1>{{ projet?.titre }}</h1>
      <h2>Description:</h2>
      <p>{{ projet?.description }}</p>
      <h2>Attente</h2>
      <p>{{ projet?.attente}}</p>
      <h2>Cible</h2>
      <p>{{ projet?.cible}}</p>
      <h2>Objectif</h2>
      <p>{{ projet?.objectif }}</p>
      <h2>Budget</h2>
      <p>{{ projet?.budget}}</p>
      <h2>Publie le :</h2>
      <p>{{ projet?.created_at | date:'dd/MM/yyyy' }}</p>
      <div class="project-detail-footer">
        <button onclick="history.back()">Retour</button>
      </div>
    </div>
  </div>
</body>
</html>
