  <div class="card">
    <img src="../../../../assets/images/imageP.png" class="card-img-top" alt="Projet 2">
    <div class="card-body">
        <h5 class="card-title">Match de football</h5>
        <p class="card-text">Un projet pour aider les élèves en difficulté scolaire ...</p>
        <div class="btnApprouver">
          <button class="btn-detail">Détail</button>
          <button class="btn-modify ">Modifier</button>
          <button class="btn-delete ">Supprimer</button>
        </div>
      </div>
  </div>


