.body{
  margin: 0px;
}
.container{
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.side-bar-section{
  margin:0px;
  margin-left: -12px;
}
.liste-content{
  margin-left: 20rem;
padding: 30px;
width: 1085px;
}
.side-bar-section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #f8f9fa;
  z-index: 1000;
}
