<div class="container">
  <h2>Liste des Projets</h2>

  <!-- Afficher un message si aucun projet n'est trouvé -->
  <div *ngIf="tableProjet.length === 0">
    <p>Aucun projet trouvé.</p>
  </div>

  <!-- Afficher le tableau des projets -->
  <div *ngIf="tableProjet.length > 0">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Description</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projet of tableProjet">
          <td>{{ projet.id }}</td>
          <td>{{ projet.titre }}</td>
          <td>{{ projet.description }}</td>
          <td>{{ projet.statut ? 'Publié' : 'Non publié' }}</td>
          <td>
            <!-- <button (click)="editProject(projet.id)" class="btn btn-primary">Éditer</button> -->
            <!-- <button (click)="viewProjectDetails(projet.id)" class="btn btn-info">Voir Détails</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
