<div class="projets-container">
  <div *ngIf="tableProjet.length === 0" class="no-projets-message">
    Aucun projet disponible.
  </div>

  <div *ngFor="let projet of tableProjet" class="project-card">
    <!-- Image de projet -->
    <img src="../../../../assets/images/icons/{{ projet.image }}" alt="{{ projet.categorie }}" class="card-img-top">

    <div class="card-body">
      <div class="d-flex justify-content-between">
        <!-- Catégorie et Date de création -->
        <div class="categories">
          <span>
            <img src="../../../../assets/images/icons/sports_and_outdoors.svg" alt="{{ projet.categorie }}">
            {{ projet.categorie }}
          </span>
        </div>
        <span class="text-muted-custom">
          le {{ projet.timestamps | date: 'dd/MM/yyyy' }}
        </span>
      </div>

      <!-- Titre du projet -->
      <h5 class="card-title mt-2">{{ projet.titre }}</h5>

      <!-- Description du projet -->
      <p class="card-text text-muted-custom">{{ projet.description }}</p>

      <div class="d-flex justify-content-between align-items-center mt-4">
        <div class="d-flex align-items-center">
          <!-- Exemple de votes positifs et négatifs -->
          <span class="text-success fw-semibold">2435</span>
          <span class="text-muted-custom ms-2">👍</span>
          <span class="text-danger fw-semibold ms-4">127</span>
          <span class="text-muted-custom ms-2">👎</span>
        </div>

        <!-- Bouton pour voir les détails du projet -->
        <a href="#" class="btn btn-primary-custom">Voir les détails</a>
      </div>
    </div>
  </div>
</div>
